
/* === NAV === */
.nav {
  display: flex;
  background-color: #6495ED;
  cursor: pointer;

}
.nav > h3 {
  padding: 12px;
}

/* === BODY === */
body {
  font-family: Inter, sans-serif;
  text-align: center;  
}

/* === ABOUT === */
.about {
  position: center;
  height: 100%;
  margin: auto;
  width: max-content;
  border-radius: 5px;
  display: block;
  overflow-x: hidden;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.about > img {
  border-radius: 10px;
}

/* === PROJECT === */
.projects {
  margin: auto;
  text-align: center;
  padding: 25px;
  overflow-x: hidden;
  border-radius: 5px;
}

/* === CARDS === */
.cards {
  font-size: 20px;
  vertical-align:top;
  width:max-content;
  height:100%;
  border-radius: 5px;
  list-style-type: none;
  margin: auto;
  padding: 12px;
  display: inline-block;
  overflow: hidden;
}
.cards > img {
  height: 200px;
  width: 300px;
  border-radius: 5px;
}

/* === CONTACT === */
.contact {
  max-width: 400px;
  margin: auto;
  text-align: center;
  padding: 25px;
  overflow-x: hidden;
  border-radius: 5px;
}
.contact label {
  text-align: left;
  display: block;
}
.contact > h2 {
  font-size: 35px;
  margin-bottom: 30px;
}

.message {
  font-size: 1.2em;
  text-align: center;
  color: #36a936;
}
.contact > input, .about > textarea {
  text-align: left;
  width: 100px;
  padding: 6px;
  margin: 10px 0;
  border: 1px solid;
  box-sizing: border-box;
  display: block;
}

/* === FOOTER === */
footer {
  position: fixed;
  background-color: #6495ED;
  text-align: center;
  bottom: 0;
  width: 100%;
  opacity: 75%;
  bottom: 0px;
}

/* === OTHER === */
.center {
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
}