@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');;

/* === GEN === */

:root {
  --transition: all 1s ease;
  --transition2: all 5s ease;

  --color-bg: rgba(245,245,245);
  --color-bg2: rgba(255,250,250);
  --color-bg3: rgba(245,255,250);
  --color-bg4: rgba(0,0,139);
  --color-letter-primary: rgba(255, 99, 71);  
  --color-letter-secondary: rgba(255,160,122);
  --color-letter-third: rgba(255,182,193);
  --color-magentaDark: rgba(139,0,139);
  --color-pretty-blue: rgba(100,149,237);
  --color-letter-alert: rgba(240,128,128);
  --color-letter-alert: rgba(178,34,34);
  --color-letter-alert: rgba(220,20,60);
  
  --container-width-lg: 75%;
  --container-wigth-md: 86%;
  --container-wigth-sm: 90%;
}
.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}
h1,h2,h3,h4,h5 {
  font-weight: 500;
}
h1 {
  font-size: 2.5rem;
}
section { 
  margin-top:  6rem;
  opacity: 85%;
  border-radius: 10rem;
}
section > h2, section > h3 {
  text-align: center;
  color: var(--color-letter-secondary);
  margin-bottom: 1.5rem;
}
.text-light{
  color: var(--color-letter-alert);
}
a {
  color: var(--color-letter-primary);
  transition: var(--transition);
}
.btn {
  width: max-content;
  display: inline-block;
  background-color: var(--color-pretty-blue);
  padding: 0.65rem 1.5rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid; 
}
.btn:hover{
  background: var(--color-bg3);
  background-color: var(--color-letter-third);
}
.btn-primary {
  background: var(--color-letter-alert);
  color: var(--color-bg2);
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
html{
  scroll-behavior: smooth;
}
::-webkit-scrollbar{
  display: none;
}
img{
  width: 100%;
  object-fit: cover;
}
/* === NAV === */
.nav {
  display: flex;
  background-color: #6495ED;
  cursor: pointer;
  padding: 0.60rem .75rem;
  gap: 2rem;
  font-size: 200%;
}
.nav > h3:hover {
  color: var(--color-letter-third);
}

/* === BODY === */
body {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  background: var(--color-bg);
  color: var(--color-letter-primary);
  line-height: 1.7;
  background-image: url(./assets/background/background.jpg);
}
section .cards {
  background-color: var(--color-bg);
}
section .cards > h3 , section .cards > p {
  text-align: center;
  color:  var(--color-letter-secondary);
}

/* === ABOUT === */
.about h1 {
  color: var(--color-letter-primary)
}
.about {
  /* position: absolute;
  left: 0; */
  flex-direction: column;
  margin: auto;
  width: 25%;
  overflow-x: hidden;
  background-color: var(--color-bg3);
  color: var(--color-letter-secondary);
  padding: 3rem;
}
.about > img {
  border-radius: 65rem 65rem 35rem 35rem ;
  padding: 3rem 1.5rem 1.5rem 1.5rem;
  transition: var(--transition2);
}

.about > img:hover {
  border-radius: 0%;
  transition: var(--transition2);
}

/* === PROJECT === */
.projects {
  margin: auto;
  text-align: center;
  overflow-x: hidden;
}

/* === CARDS === */
.cards {
  font-size: 20px;
  vertical-align:top;
  width:max-content;
  margin: auto;
  padding: 1.5rem;
  display: inline-block;
  overflow: auto;
}
.cards > img {
  height: 200px;
  width: 300px;
  border-radius: 5px;
}

/* === CONTACT === */
.contact {
  max-width: 500px;
  margin: auto;
  text-align: center;
  padding: 3rem;
  overflow-x: hidden;
  border-radius: 5px;
  background-color: var(--color-bg);
  margin-bottom: 3rem;
}
.contact label {
  text-align: left;
  display: block;
}
.contact > h2 {
  font-size: 35px;
  margin-bottom: 30px;
}

.message {
  font-size: 1.2em;
  text-align: center;
  color: #36a936;
}
.contact > input, .about > textarea {
  text-align: left;
  width: 100px;
  padding: 6px;
  margin: 10px 0;
  border: 1px solid;
  box-sizing: border-box;
  display: block;
}

/* === FOOTER === */
footer {
  background-color: var(--color-pretty-blue);
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  opacity: 60%;
}


@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-wigth-md)
  }
  section{
    margin-top: 6rem;
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: var(--container-wigth-sm)
  }
  section > h2{
    margin-top: 2rem;
  }
}