@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');;

/* === GEN === */

:root {
  --transition: all 1s ease;
  --transition2: all 5s ease;
  --transition3: all 2ms ease;

  --color-bg: #A9A9A9;
  --color-bg2: #C0C0C0;
  --color-bg3: #D3D3D3;
  --color-bg4: #f2f3f4;

  --color-letter-primary: #000018;  
  --color-letter-secondary: rgba(255,160,122);
  --color-letter-third: rgba(255,182,193);
  --color-letter-onHover: rgba(65, 105, 225);

  
  --color-letter-alert: rgba(240,128,128);
  --color-letter-alert2: rgba(178,34,34);
  --color-letter-alert:3 rgba(220,20,60);
  
  
  --color--accents : #722F37;
  --color--accents2 : #6495ED;
  --color--accents3: rgba(100,149,237);
  
  --container-width-lg: 75%;
  --container-wigth-md: 86%;
  --container-wigth-sm: 90%;
}
h1,h2,h3,h4,h5 {
  font-weight: 500;
}
h1 {
  font-size: 2.5rem;
}

section > h2, section > h3 {
  color: var(--color-letter-primary);
  margin-bottom: 1.5rem;
}
.text-light{
  color: var(--color-letter-alert);
}
a {
  color: var(--color-letter-primary);
  transition: var(--transition);
}
a :hover{
  transition: var(--transition3);
}
.btn {
  width: max-content;
  display: inline-block;
  background-color: var(--color--accents);
  padding: 0.65rem 1.5rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid;
  transition: var(--transition);
  
  margin-bottom: 1.5rem;
}
.btn:hover{
  transition: var(--transition);
  background-color: var(--color--accents2);
  color: var(--color-letter-third);
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
html{
  scroll-behavior: smooth;
}
::-webkit-scrollbar{
  display: none;
}

/* === NAV === */
.nav {
  display: flex;
  background-color: var(--color--accents2);
  cursor: pointer;
  padding: 0.60rem .75rem;
  gap: 2rem;
  font-size: 200%;
}
.nav > h3 {
  transition: var(--transition);
}
.nav > h3:hover {
  color: var(--color-letter-third);
  transition: var(--transition);
}
body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--color-bg3);
  color: var(--color-letter-primary);
  min-height: 100vh;
  justify-content: center;
  font-size: 1.25rem;
  line-height: 1.6;
}

/* === ABOUT === */
.about_section {
  position: absolute;
  position: fixed;
  left: 0;
  margin: 1.5rem auto;
  max-width: 25%;
  overflow-x: hidden;
  background-color: var(--color-bg);
  color: var(--color-letter-primary);
  background: linear-gradient(45deg,var(--color-primary));
  text-align: center;
}
.about_section h1 {
  color: var(--color-letter-primary);
}

.about_section > div> img {
  border-radius: 65rem 65rem 35rem 35rem ;
  padding: 3rem 1.5rem 1.5rem 1.5rem;
  transition: var(--transition2);
}
.about_section> div>  img:hover {
  border-radius: 60%;
  transition: var(--transition2);
  transform:rotate(-5deg);
}

/* === EXPERIENCE === */
.experience {
  margin: 1.5rem auto;
  width:min-content;
  gap: 5rem;
  transition: var(--transition);
  display: flex;
  text-align: center;
}
.article {
  padding: 1.5rem;
  border: solid;
  border-color: var(--color-bg);
  border-radius: 5px; 
  gap: 5rem;
  transition: var(--transition);
  border: 1px solid transparent;
}
.article > h3 {
  text-align: center;
  margin-bottom: 1.5rem;
}
.experience > div .article:hover {
  transition: var(--transition);
  color: var(--color--accents2);
  border-color: var(--color--accents2);
  background-color: var(--color-bg2);
}

/* === PROJECT === */
.projects{
  margin: 1.5rem auto;
  border-radius: 15px;
  overflow: hidden;
  width: fit-content;
  display: grid;
  text-align: center;
}
.card {
  margin: auto;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: .1rem;
  transition: var(--transition);
  background-color: transparent;
  display: flex;
}
.card_container {
    padding : 0 1.25em;
    width: min(90%, 1000px);
    margin-inline: auto;
}
.titles {
  display: inline-block;
}
.card:hover{
  transition: var(--transition); 
  color: var(--color-letter-onHover);
  border-color: var(--color-letter-onHover);
  background-color: var(--color-bg);
}

.card > img {
  border-radius: 5px;
  height: 150px;
}
.card > small {
  height: 80px;
}

/* === CONTACT === */
/* .contact_section {
  margin: 1.5rem auto;
  text-align: center;
  overflow-x: hidden;
  transition: var(--transition);
  border: 1px solid transparent;
  border-radius: 5px;
  width: auto;
  display: grid;
} */
/* .contact_container {
  margin: auto;
  border-radius: 5px;
  transition:  var(--transition);
  border-color: var(--color-letter-third);
  background-color: var();
} */
.contact_section{
  margin: 1.5rem auto;
  border-radius: 5px;
  overflow: hidden;
  width: fit-content;
  display: grid;
  text-align: center;
  border: .1rem solid transparent;
  max-width: fit-content;
}
.contact_form{
  border: 1px solid transparent;
  padding: 1.5rem;
  transition: var(--transition);
  background-color: transparent;
  display: grid;
}
.contact_section:hover{
  transition: var(--transition);
  color: var(--color-letter-onHover);
  border-color: var(--color--accents2);
  background-color: var(--color-bg);
}
.contact_section label , .contact_form input, textarea {
  text-align: left;
  display: grid;
  margin-bottom: 0.5rem;
  resize: none;
}
.contact_form > textarea{
  margin-bottom: 1.5rem;
  padding-bottom: 5rem;
}
.contact_container h2 {
  font-size: 35px;
}

/* === FOOTER === */
footer {
  background-color: var(--color--accents2);
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  opacity: 60%;
  color: var(--color-letter-primary);
}
footer > a:hover{
  color: var(--color-letter-primary);
  opacity: 100%;
}


@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-wigth-md)
  }
  section{
    margin-top: 6rem;
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: var(--container-wigth-sm)
  }
  section > h2{
    margin-top: 2rem;
  }
}