/* background color : FFF0F5 */

nav {
  position: flex;
  background-color: #6495ED;
  padding: 15px;
}

body {
  margin: 0;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.leftmenuinnerinner {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-top: 20px;
}

center{
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
}

footer {
  position: absolute;
  background-color: #6495ED;
  text-align: center;
  bottom: 0;
  width: 100%;

}