/* background color : FFF0F5 */

.nav {
  display: flex;
  background-color: #6495ED;
  padding: 12px;
  
}

body {
  margin: 0;
  text-align: center;
}

.card {
  vertical-align:top;
  width:160px;
  height:auto;
}
.contact {
background-color: #F8F8FF;
position: center;
padding: 12px;
margin: 0;
}

.about {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.center {
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
}

footer {
  position: fixed;
  background-color: #6495ED;
  text-align: center;
  bottom: 0;
  width: 100%;
  opacity: 75%;
  bottom: 0px;
}